html{
  font-family: Helvetica, Arial;
  text-align: center;
}

nav {
  display: grid;
  font-size: 18px;

  color:white;
}

.header a, a:visited{
     text-decoration: none;
     color: White;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header{
  background: url("../images/the-flatiron-building.png"), black;
  background-size: cover;
}
